<h1>Welcome to EY Doctors Demo Application</h1>
<p>Welcome to your new single-page application, built with:</p>
<p>
    using Angular 7, Asp.Net Core, Web API, Entity Framework and SQLite
</p>
<p>
    High Level Overview
    A medical clinic wants to show the list of doctors working there with some basic information and ability to look at the details of the doctor. There are also some rules 
    that will make some doctors more prominent.

</p>

<hr/>


<h3> Swagger UI</h3>
<p>
    Swagger UI offers a web-based UI that provides information about the service, using the generated Swagger specification. Both Swashbuckle and NSwag include an embedded version of Swagger UI, so that it can be hosted in your ASP.NET Core app using a middleware registration call.
</p>

<p>
    <a href="/swagger/index.html">View application api specification</a>
</p>